<article class="BeMember">
    <div class="BeMember__angle-left-top"></div>
    <div class="BeMember__angle-right-bottom"></div>
    <span class="BeMember__title">Devenir adhérent</span>
    <h4 class="BeMember__sub-title">
        Vous êtes convaincus que le réseau ABC est fait pour vous !<br/>
        Deux possibilités s’offrent à vous.
    </h4>
    <div class="BeMember__content">
        <p class="BeMember__content--text">
            Vous êtes convaincus que le réseau ABC est fait pour vous ! Deux possibilités s’offrent à vous. Vous pouvez
            adhérer au « Premier Cercle» pour des réunions hebdomadaires le vendredi de 11h à 13h. Vous bénéficiez d’un
            accompagnement optimum, des ateliers et formations et d’une exclusivité de compétence. Le tarif est de
            seulement 600€ par an.
        </p>
        <p class="BeMember__content--text">Vous pensez qu’il sera difficile d’être présent chaque semaine ? Vous pouvez
            intégrer le « deuxième cercle ». Dans ce cas vous êtes conviez aux «Afterwork» mensuels et accédez aux
            formations mais vous ne pouvez prétendre à l’exclusivité de compétence. Le tarif est de seulement 300€ par
            an.
        </p>
    </div>
</article>
