<footer class="Footer">
    <div class="Footer__part1">
        <img class="Footer__part1-logo" src="https://nsa40.casimages.com/img/2020/01/09/20010903194855381.png"/>
        <p class="Footer__part1-text">© 2020 ABC. Tous droits réservés</p>
    </div>
    <div class="Footer__part2">
        <h4 class="Footer__part2-title">Une question, un renseignement ?</h4>
        <p class="Footer__part2-text">
            Venez découvrir gratuitement le réseau et son fonctionnement lors d’une réunion ouverte ou d’un « Afterwork
            » !
        </p>
        <form action="#" class="Footer__part2--form">
            <input class="Footer__part2--form-input" type="email" placeholder="Votre adresse email"/>
            <button class="Footer__part2--form-button" type="submit">OK</button>
        </form>
    </div>
    <div class="Footer__part3">
        <a href="#" class="Footer__part3--link">Contact</a>
        <a href="#" class="Footer__part3--link">Mentions légales</a>
        <a href="https://www.facebook.com/groups/2476603492657811" target="_blank" rel="noopener" class="Footer__part3--icon">
            <i class="fab fa-facebook-square"></i>
        </a>
    </div>
</footer>
