<article class="Values">
  <h2 class="Values__title">Les valeurs du réseau</h2>
  <div class="Values__content">
    <div class="Values__content--item">
      <img class="Values__content--item-icon" src={{ asset('images/share_icon.png') }} />
      <h6 class="Values__content--item-title">Le partage</h6>
      <p class="Values__content--item-text">
        Le partage d’opportunités, de contrats bien sûr, mais pas seulement. Le partage d’expérience, de conseils, de bonnes adresses également.
      </p>
    </div>
    <div class="Values__content--item">
      <img class="Values__content--item-icon" src={{ asset('images/hand_icon.png') }} />
      <h6 class="Values__content--item-title">Le partage</h6>
      <p class="Values__content--item-text">
        Le partage d’opportunités, de contrats bien sûr, mais pas seulement. Le partage d’expérience, de conseils, de bonnes adresses également.
      </p>
    </div>
    <div class="Values__content--item">
      <img class="Values__content--item-icon" src={{ asset('images/business_icon.png') }} />
      <h6 class="Values__content--item-title">Le partage</h6>
      <p class="Values__content--item-text">
        Le partage d’opportunités, de contrats bien sûr, mais pas seulement. Le partage d’expérience, de conseils, de bonnes adresses également.
      </p>
    </div>
  </div>
</article>