<article class="Values">
    <h2 class="Values__title">Les valeurs du réseau</h2>
    <div class="Values__content">
        <div class="Values__content--item">
            <img class="Values__content--item-icon" src={{ asset("images/share_icon.png") }} alt="share icon"/>
            <h6 class="Values__content--item-title">Le partage</h6>
            <p class="Values__content--item-text">
                Le partage d’opportunités, de contrats bien sûr, mais pas seulement. Le partage d’expérience, de
                conseils, de bonnes adresses également.
            </p>
        </div>
        <div class="Values__content--item">
            <img class="Values__content--item-icon" src={{ asset('images/hand_icon.png') }} alt="hand icon"/>
            <h6 class="Values__content--item-title">L’entraide</h6>
            <p class="Values__content--item-text">
                Un coup dur, une urgence, les membres du réseau sont aussi là pour se serrer les coudes.
            </p>
        </div>
        <div class="Values__content--item">
            <img class="Values__content--item-icon" src={{ asset('images/business_icon.png') }} alt="business icon"/>
            <h6 class="Values__content--item-title">Le business</h6>
            <p class="Values__content--item-text">
                Evidemment... Le réseau a été pensé pour faire croître nos entreprises, les amener vers le succès !
            </p>
        </div>
    </div>
</article>
