{% extends 'base.html.twig' %}

{% block title %}Prestation index{% endblock %}

{% block body %}
    <h1 class="memberList__title">Liste des prestations</h1>

    <table class="table container">
        <thead>
        <tr>
            <th>Nom</th>
            <th class="text-right">
                <a class="btn btn-add mx-2" href="{{ path('prestation_new', {'fallback':'prestation_index' }) }}">
                    <span>Ajouter</span>
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for prestation in prestations %}
            <tr>
                <td>{{ prestation.name }}</td>
                <td class="text-right d-flex justify-content-end align-items-center">
                    <a class="memberList__line-item-link mx-2 text-magenta text-nowrap"
                       href="{{ path('prestation_edit', {'id': prestation.id}) }}">
                        <i class="fas fa-pen"></i>
                        <span>Édition</span>
                    </a>
                    {{ include('prestation/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
